.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.overlayInner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlayContent {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.spinnerWrapper {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: var(--blue-900);

  display: flex;
  justify-content: center;
  align-items: center;

  filter: opacity(0.1);
}

.spinner {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-width: 2px;
    border-color: var(--white);
    border-top-color: var(--blue-900);
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}