.nowShowingContainer {
  overflow: hidden;
  padding-left: 1.5rem;
  margin-top: 4.75rem;
}

.nowShowingTitle {
  font: 900 1rem "Merriweather", serif;
  color: var(--blue-900);
  display: inline-block;
  margin-bottom: 1rem;
}
