.cardLarge {
    display: flex;
    flex-direction: column;
    width: 145px;
    gap: .75rem;

    .cardImg {
        height: 13.25rem;
        width: 8.938rem;
        background-color: var(--gray);
        border-radius: 6px;
        object-fit: cover;
    }

    .cardTitle {
        font-size: .875rem;
    }

    .cardRating {
        display: flex;
        align-items: center;
        
        &Icon {
            margin-right: 0.25rem;
        }

        span {
            font-size: .75rem;
            color: var(--gray);
        }
    }
}