.cardLarge {
  display: flex;
  flex-direction: column;
  width: 145px;
  gap: 0.75rem;

  .cardImg {
    height: auto;
    width: 40vw;
    background-color: var(--gray);
    border-radius: 6px;
    object-fit: cover;
  }

  .cardTitle {
    font-size: 0.875rem;
  }

  .cardRating {
    display: flex;
    align-items: center;

    &Icon {
      margin-right: 0.25rem;
    }

    span {
      font-size: 0.75rem;
      color: var(--gray);
    }
  }
}
